[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"
